:root {
    --light-blue: rgb(140, 192, 222);
    --peach: rgb(255, 217, 192);
    --beige: rgb(250, 240, 215);
}

body {
    background-color: var(--light-blue);
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[v-cloak] {
    display: none !important;
}

.logoImage {
    width: 12rem;
}

.carousel-item>img {
    height: 25rem;
    object-fit: cover;
}

.carousel-inner h1 {
    height: 24rem;
    z-index: inherit;
    position: relative;
    font-size: 6rem;
    color: var(--light-blue);
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: var(--peach);
    text-align: center;
}

.card {
    background-color: var(--beige);
}

.card>img {
    height: 12rem;
    object-fit: cover;
}

.btn {
    background-color: var(--light-blue);
    color: black;
    height: 2.5rem;
    width: 6rem;
}

#details>div {
    flex-direction: row;
}

#imgdetails {
    min-height: 20rem;
    min-width: 30rem;
}

.table {
    margin-bottom: 0rem;
}

tr,
td {
    width: 20rem;
    text-align: center;
}