body {
    background-color: rgb(140, 192, 222);
}

.logoImage {
    width: 12rem;
}

.carousel-item>img {
    height: 25rem;
    object-fit: cover;
}

.carousel-inner h1 {
    height: 24rem;
    z-index: inherit;
    position: relative;
    font-size: 6rem;
    color: rgb(140, 192, 222);
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: rgb(250, 240, 215);
}

.card {
    background-color: rgb(204, 238, 188);
}

.card>img {
    height: 12rem;
}

#details>div {
    flex-direction: row;
}

#imgdetails {
    min-height: 20rem;
    min-width: 30rem;
}

tr,
td {
    width: 20rem;
    text-align: center;
}