body {
    background-color: rgb(140, 192, 222);
}

.logoImage {
    width: 12rem;
}

.carousel-item>img {
    height: 25rem;
    object-fit: cover;
}

.carousel-inner h1 {
    z-index: inherit;
    position: relative;
    font-size: 5rem;
    color: rgb(140, 192, 222);
}

.navbar {
    background-color: rgb(250, 240, 215);
}

.card {
    background-color: rgb(250, 240, 215);
}

.card>img {
    height: 12rem;
}